<?xml version="1.0" ?>
<model>
  <name>Stewart platform with fixed base</name>
  <version>1.0</version>
  <sdf version="1.9">stewart_platform_fixed.sdf</sdf>

  <author>
    <name>Lachlan Orr</name>
    <email>lachlan.orr@empa.ch</email>
  </author>

  <description>
    Stewart-Gough platform modeled in SDFormat.
  </description>

</model>
