<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <rosparam file="$(find stewart)/cfg/servo_settings.yaml" />
  <rosparam file="$(find stewart)/cfg/stewart_geometry.yaml" />
  <node name="InverseKinematics" pkg="stewart" type="kinematics_node.py" required="true" output="screen"/>
  <!-- <node name="ServoController" pkg="stewart" type="servo_controller.py" required="true" output="screen"/> -->
  <node name="ServoController" pkg="stewart" type="admittance_servos.py" required="true" output="screen"/>
</launch>
