<?xml version="1.0" encoding="UTF-8"?> 
<launch>
    <arg name="sim" default="true"/>
    <arg name="viz" default="true"/>
    <arg name="model_name" default="stewart_platform"/>

    <rosparam file="$(find delta_2)/cfg/servo_settings.yaml" />
    <rosparam file="$(find delta_2)/cfg/stewart_geometry.yaml" />
    <param name="model_name" value="$(arg model_name)" />

    <remap from="/servo_setpoint/positions" to="/servo_detected/positions" />

    <node name="InverseKinematics" pkg="delta_2" type="kinematics_node.py" required="true" output="screen"/>
    <node name="ServoController" pkg="delta_2" type="publish_sim_joints.py" required="true" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2base" args="0 0 0 0 0 0 map stewart_base" />
    
    <node name="TestSetpoints" pkg="delta_2" type="test_setpoint_publisher.py" required="true" output="screen"/>

    <!-- <env name="GAZEBO_PLUGIN_PATH" value="${GAZEBO_PLUGIN_PATH}:$(find delta_2)/gazebo/plugin/build" />
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find delta_2)/gazebo/models" /> -->

    <arg name="world" value="$(find delta_2)/gazebo/world/stewart.world"/>

    <arg name = "paused" default = "false"/>
    <arg name = "use_sim_time" default = "true"/>
    <arg name = "gui" default = "true"/>
    <arg name = "headless" default = "false"/>
    <arg name = "debug" default = "false"/>
    <arg name = "verbose" default = "true"/>
  
    <include file = "$(find gazebo_ros)/launch/empty_world.launch">
      <arg name = "world_name" value = "$(arg world)"/>
      <arg name = "debug" value = "$(arg debug)" />
      <arg name = "gui" value = "$(arg gui)" />
      <arg name = "paused" value = "$(arg paused)" />
      <arg name = "use_sim_time" value = "$(arg use_sim_time)" />
      <arg name = "headless" value = "$(arg headless)" />
      <arg name = "verbose" value = "$(arg verbose)" />
    </include>

    <group if="$(arg viz)">
      <node type="rviz" name="rviz" pkg="rviz" args="-d $(find delta_2)/rviz/ground_based.rviz"/>
  </group>

</launch>